.outt {
    display: none;
}
.leftlst {
    position:absolute;
    left: 15px;
    width: 40px;
    border: none;
    z-index: 100;
    border-radius: 0px 5px 5px 0px;
    height: 100px;
    outline: none;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
    margin-top: 130px;
}
.rightlst {
    position:absolute;
    right: 15px;
    width: 40px;
    border: none;
    z-index: 100;
    border-radius: 0px 5px 5px 0px;
    height: 100px;
    outline: none;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
    margin-top: 130px;
}
.btn-default i {
    font-size: 16px;
    color: greenyellow;
}
.rescarousel {
    float: left;
    overflow: hidden;
    width: 100%;
}
.rescarousel-inner  {
    float: left;
    transition: 1s ease all;
    height: 350px;
}
.rescarousel-inner .item {
    float: left;
}
.innerItem {
    width: 100%;
    height: 350px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    border: solid 0.9px transparent;
    transition: .5s;
}
.innerItem a {
    display: block;
}
.imageCarousel {
    width: 100%;
    height: 100%;
}
.imageCarousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

